export(ex2plink)
export(genos.clean.batch)
export(genos.clean)
export(get.data.dims)
export(get.file.copy)
export(pre0.dir.create)
export(pre1.plink2mach.batch)
export(pre1.plink2mach)
export(pre2.remove.genos.batch)
export(pre2.remove.genos)
export(pre3.call.mach.batch)
export(pre3.call.mach)
export(pre4.combine.case.control.batch)
export(pre4.combine.case.control)
export(pre5.genos2numeric.batch)
export(pre5.genos2numeric)
export(pre6.discretize.batch)
export(pre6.discretize)
export(pre7.merge.genos)
export(pre8.add.conf.var)
export(pre8.add.conf.var.unix)
export(pre9.split.train.test.batch)
export(pre9.split.train.test)
export(run1.moss.regression)
export(run2.prediction.cvv)
export(run3.prediction.train.test)
export(run4.show.prediction)
export(run4.save.prediction)
export(run5.brier)

